%script{ src: '/js/menu.js' }
%div{id:"form"}
  %p Ingrese las palabras a buscar
:javascript
  $(document).ready(function() {
    var ul = $('<ul>');
    for(var i=0;i<10;i++){   
      var input = $('<input>').attr({"type":"text","name":"toSearch"+i});
      var li = $('<li>').append(input);
      ul.append(li);
    	}
    $('#form').append(ul);
    var b = $('<input>').attr({"type":"button","value":"GO", "onClick":"javascript:post();"});
    $('#form').append(b);
  });