body {
  overflow:hidden;
  background: #BEDFE4 url(/img/sun.png) no-repeat left -30px;
}

#cloud-01{
   background-position: -500px -80px;
   background: url(/img/clouds-01.png) no-repeat left -100px;
background-image: url(/img/clouds-01.png);
background-repeat-x: no-repeat;
background-repeat-y: no-repeat;
background-attachment: initial;
background-position-x: 0%;
background-position-y: -100px;
background-origin: initial;
background-clip: initial;
background-color: initial;
height: 200px;
z-index:300;
}

#cloud-02{
   background-position: -625px -30px;
background: url(/img/clouds-02.png) no-repeat left top;
background-image: url(/img/clouds-02.png);
background-repeat-x: no-repeat;
background-repeat-y: no-repeat;
background-attachment: initial;
background-position-x: 0%;
background-position-y: 0%;
background-origin: initial;
background-clip: initial;
background-color: initial;
height: 200px;
}

.word {
  font-size:20px;
  padding:10px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  /*background: #999;*/
  color: #fff;
  overflow: hidden;
  position: absolute;
  z-index: 200;
  background: url('/img/tw2.jpeg') no-repeat;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  width: 55px;
  height: 30px;

}

.topWord {
  font-size:20px;
  color:#fff;
  position:absolute;
  word-wrap:break-word;
  z-index: 100;
  
}

#wrapper{
  /*margin:0 auto 0 auto; width:780px; height: 700px;overflow-y:hidden;	*/
  margin:0 auto 0 auto; width:100%; height: 600px;	
}
#topWord0 {
  background: #162837;
}
#topWord1 {
  background: #478359;
}
#topWord2 {
  background: #329473;
}
#topWord3 {
  background: #992828;
}
#topWord4 {
  background: #535252;
}
#topWord5 {
  background: #134133;
}
#topWord6 {
  background: #987123;
}
#topWord7 {
  background: #345679;
}
#topWord8 {
  background: #811811;
}
#topWord9 {
  background: #323578;
}

ul {
	list-style: none;
}

#form{
	border-radius: 5px;
	border: dotted;
	border-color: green;
	padding: 30px;
}

#land {
	height: 500px;
	width: 100%;
}


/**************** tweets ***********/
		#tweet{
			margin-left: 30%;
		}
		.tweet {
			background: #fff;
			margin: 4px 0;
			width: 500px;
			padding: 8px;
			-moz-border-radius: 8px;
			-webkit-border-radius: 8px;
			height: 54px;
		}
		.tweet img {
			float: left;
			margin: 0 8px 4px 0;
		}
		.tweet .text {
			margin: 0;
		}
		.tweet .time a {
			font-size: 80%;
			color: #888;
			white-space: nowrap;
			text-decoration: none;
		}
		.tweet .time a:hover {
			text-decoration: underline;
		}
		#twitterSearch .tweet {
			min-height: 24px;
		}
		#twitterSearch .tweet .text {
			margin-left: 32px;
		}

/***********************************************/
